<h1>unsubscribe</h1>

<ul>
    <li class="home">
        <a routerLink="/different-ways-page">Home Page (Different Ways)</a>
    </li>
    <li class="conditional">
        <a routerLink="/http-page">Page with http</a>
    </li>
    <!-- <li>
        <a routerLink="/slow-http-page">Page with slow http</a>
    </li> -->
    <li>
        <a routerLink="/timer-page">Page with timer</a>
    </li>
    <li class="no-risk">
        <a routerLink="/take-until-page">Page with takeUntil</a>
    </li>
    <li class="no-risk">
        <a routerLink="/async-pipe-page">Page with async pipe |</a>
    </li>
</ul>

<router-outlet></router-outlet>
