<h2>Loading Button 0 - UI 和业务逻辑混杂</h2>

<div class="wrapper">
    <button
        ng-click="$ctrl.fetchInfo(1)"
        ng-disabled="$ctrl.fetchInfo.isLoadingSet[1]"
        class="btn btn-danger"
    >
        <i
            ng-show="$ctrl.fetchInfo.isLoadingSet[1]"
            class="fa fa-spinner rotating"
        ></i>
        #1 （•̀ᴗ•́）و　̑̑
    </button>
    <button
        ng-click="$ctrl.fetchInfo(2)"
        ng-disabled="$ctrl.fetchInfo.isLoadingSet[2]"
        class="btn btn-warning"
    >
        <i
            ng-show="$ctrl.fetchInfo.isLoadingSet[2]"
            class="fa fa-spinner rotating"
        ></i>
        #2 （•̀ᴗ•́）و　̑̑
    </button>
</div>

<div class="wrapper info-board">
    <p ng-repeat="info in $ctrl.infoList track by $index">{{ info }}</p>
</div>
