<main>
    <p>Home Page</p>
    <nav class="navi">
        <ul>
            <li>
                <a
                    routerLink="/lazy-home/home-sub1/sub1"
                    routerLinkActive="active"
                >
                    Sub1
                </a>
            </li>

            <li>
                <a
                    routerLink="/lazy-home/home-sub2/sub2"
                    routerLinkActive="active"
                >
                    Sub2
                </a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</main>
