<main>
    <nav class="navi">
        <ul>
            <li>
                <a
                    routerLink="/lazy-home"
                    routerLinkActive="active"
                >
                    Home
                </a>
            </li>

            <li>
                <a
                    routerLink="/lazy-about"
                    routerLinkActive="active"
                >
                    About
                </a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</main>
